@{
    ViewData["Title"] = "Home Page";
}

<body>
    <form id="form1" runat="server">
        <img src="https://c.pxhere.com/photos/6b/e5/condominium_condo_architecture_apartment_residential_property_home_real_estate-893012.jpg!d"
             width="100%"
             height="100%"
             style="position: fixed; top: 0; left: 0; z-index: -1;" />
    </form>
</body>



