@model CondominiumWebApp.Models.Property

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar</h1>

<h4>Propiedad</h4>
<hr />

<div asp-validation-summary="All" class="text-danger"></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="PropertyPasscode" class="control-label"></label>
                    <input asp-for="PropertyPasscode" class="form-control" type="text" readonly/>
                    <span asp-validation-for="PropertyPasscode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PropertyType" class="control-label"></label>
                <select asp-for="PropertyType" class="form-control">
                    <option></option>
                    <option>Casa</option>
                    <option>Lote</option>
                    <option>Piscina</option>
                </select>
                <span asp-validation-for="PropertyType" class="text-danger" required></span>
            </div>
            <div class="form-group">
                <label asp-for="BlockId" class="control-label"></label>
                @Html.DropDownList("BlockId", ViewBag.Blocks as SelectList, "", new { @class = "form-control", @required = "required"})
                <span asp-validation-for="BlockId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetId" class="control-label"></label>
                @Html.DropDownList("StreetId", ViewBag.Streets as SelectList, "", new { @class = "form-control", @required = "required"})
                <span asp-validation-for="StreetId" class="text-danger" required></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyNumber" class="control-label"></label>
                <select asp-for="PropertyNumber" class="form-control" id="propertyNumberInput" required>
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span asp-validation-for="PropertyNumber" class="text-danger" required></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                @Html.DropDownList("OwnerId", ViewBag.Owners as SelectList, "", new { @class = "form-control", @required = "required" })
                <span asp-validation-for="OwnerId" class="text-danger" required></span>
            </div>
            <div class="form-group">
                <label asp-for="PropertyDate" class="control-label"></label>
                <input asp-for="PropertyDate" class="form-control" type="date" required/>
                <span asp-validation-for="OwnerId" class="text-danger" required></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#propertyNumberInput').on('change', function () {
                updatePropertyPasscode();
            });

            $('#BlockId, #StreetId').on('change', function () {
                updatePropertyPasscode();
            });

            function updatePropertyPasscode() {
                var blockName = $('#BlockId option:selected').text();
                var streetNumber = $('#StreetId option:selected').text();
                var propertyNumber = $('#propertyNumberInput').val();

                if (blockName && streetNumber && propertyNumber) {
                    var propertyPasscode = 'P' + blockName + streetNumber + propertyNumber;
                    $('#PropertyPasscode').val(propertyPasscode);
                }
            }
        });
    </script>
}